$red-color: rgb(165, 0, 0);
$red-medium-color: rgb(240, 94, 92);
$red-light-color: rgb(194, 81, 81);
$yellow-color: #F0EF5B;
$purple-light-color: #87AFED;
$purple-color: #652E99;
$purple-dark-color: #512DA8;
$purple-medium-color: #673AB7;
$green-light-color: #E0EEE4;
$green-color: #21a67a;
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$gray-color: rgb(253, 239, 238);
$gray-light-color: rgb(231, 231, 231);
$gray-medium-color: rgb(65, 165, 187);
$dark-light-color: #efefef;
$text-input-color: rgb(68, 68, 68);
$text-form-color: #bdbbbb;
$placeholder-color: #bdbbbb
